<h1 class="mb-5">delete_all</h1>

<% if @users.empty? %>
  <%= link_to "Generate users", regenerate_users_path, class: "btn btn-success" %>

  <div class="mt-5">
    <p><i>No users found</i></p>
  </div>

<% else %>
  <div class="row">
    <div class="col">
      <%= link_to "Regenerate users", regenerate_users_path, class: "btn btn-success" %>
      <%= link_to "Destroy all users", destroy_all_user_path, class: "btn btn-outline-danger" %>

      <div class="mt-5">
        <%= render partial: "users/table", locals: { users: @users } %>
      </div>
    </div>

    <div class="col">
      <h5 class="text-danger">DON'T</h5>

      <div class="do-dont-block">
        <pre><code class="language-ruby">User.where("id = #{params[:user_id]}").delete_all</code></pre>

        <pre><code class="language-sql">DELETE * FROM 'users' WHERE (id = <%= @user.id %>)</code></pre>

        <%= form_with url: :destroy_user do |f| %>
          <%= f.hidden_field :user_id, value: @user.id %>
          <%= f.submit "Delete (id = #{@user.id})", class: "btn btn-outline-primary mb-3" %>
        <% end %>

        <div class="mt-3"></div>

        <pre><code class="language-sql">DELETE * FROM "users" WHERE (id = <%= @user.id %>) OR 1=1--)</code></pre>

        <%= form_with url: :destroy_user do |f| %>
          <%= f.hidden_field :user_id, value: "#{@user.id}) OR 1=1--" %>
          <%= f.submit "Delet (id = \"#{@user.id}) OR 1=1--\")", class: "btn btn-outline-primary mb-3" %>
        <% end %>
      </div>

      <h5 class="text-success mt-5">DO</h5>

      <div class="do-dont-block">
        <pre><code class="language-ruby">User.where(id: params[:user_id]").delete_all</code></pre>

        <pre><code class="language-sql">DELETE * FROM 'users' WHERE (id = <%= @user.id %>)</code></pre>

        <%= form_with url: :destroy_sanitized_user do |f| %>
          <%= f.hidden_field :user_id, value: @user.id %>
          <%= f.submit "Delete (id = #{@user.id})", class: "btn btn-outline-primary mb-3" %>
        <% end %>

        <div class="mt-3">

        <pre><code class="language-sql">DELETE * FROM "users" WHERE (id = <%= @user.id %>) OR 1=1--)</code></pre>

        <%= form_with url: :destroy_sanitized_user do |f| %>
          <%= f.hidden_field :user_id, value: "#{@user.id}) OR 1=1--" %>
          <%= f.submit "Delete (id = \"#{@user.id}) OR 1=1--\")", class: "btn btn-outline-primary mb-3" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
